:root {
	/* カラーパレット */
	--color-primary: #2d2a4a;
	--color-primary-10: color-mix(in srgb, var(--color-primary) 10%, #fff);
	--color-primary-5: color-mix(in srgb, var(--color-primary) 5%, #fff);
	--color-secondary: #a51931;
	--color-secondary-10: color-mix(in srgb, var(--color-secondary) 10%, #fff);
	--color-success: #28a745;
	--color-danger: #dc3545;
	--color-dark: #5d5d5d;
	--color-white: #fff;
	--color-gray: #c5c5c5;

	/* フォントサイズ */
	--font-size-1: 16;
	--font-size-2: 20;
	--font-size-3: 24;
	--font-size-4: 28;
	--font-size-5: 32;

	/* フォントファミリー */
	--font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

	/* 行の高さ */
	--line-height: 1.4;

	/* スペーシング */
	--spacing-1: 8;
	--spacing-2: 16;
	--spacing-3: 24;
	--spacing-4: 32;
	--spacing-5: 40;
	--spacing-6: 48;
	--spacing-7: 56;
	--spacing-8: 64;

	/* ボーダー */
	--border-radius: 8;

	/* シャドウ */
	--shadow: 0 0 8px var(--color-gray);

	/* animation */
	--transition: 0.2s ease-in-out;
	--scale: 1.2;

	/* 計算用 */
	--calc-sp: 100vw / 390;
}

* {
	box-sizing: border-box;
	color: var(--color-primary);
}

body {
	font-family: var(--font-family);
	line-height: var(--line-height);
}
@media (min-width: 640px) {
	body {
		font-size: calc(var(--font-size-2) * 1px);
	}
}
@media (max-width: 639px) {
	body {
		font-size: calc(var(--calc-sp) * var(--font-size-1));
	}
}
